@page
@model Expenses.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expenditure</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenditure.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenditure.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenditure.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenditure.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenditure.SpentOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenditure.SpentOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expenditure.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expenditure.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Expenditure.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
