@model List<Expenses.Models.Expenditure>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Amount
            </th>
            <th>
                SpentOn
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.SpentOn
                </td>
                <td>
                    @Expenses.Models.Utilities.GetCategoryName(item.Category)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a onclick="return confirm('Do you want to delete?')" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

